.header img {
    height: 80px;
    margin: 15px 0;
}

.header {
    text-align: center;
}

nav {
    background-color: black;
    text-align: center;
    line-height: 40px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #ffffff;
    color: #000000;
}